<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina final IUJO</title>
</head>
<body>
    
    <label for="registerName">Usuario</label>
    <input type="text" id="registerName">
    <br>
    <br>
    <label for="registerPassword">Clave</label>
    <input type="password" id="registerPassword">

    <button id="save">Enviar</button>

    <script src="/js/register.js"></script>

</body>
</html>